.bg-color {
    height: 1010px;
    padding-top: 50px;
    padding-bottom: 300px;
    text-align: center;
    background: url("https://res.cloudinary.com/crazylittled/image/upload/v1456523734/quote-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}
.container {
    font-family: serif;
}
.quote-bg {
	margin: 100px auto;
	padding: 40px 40px;
	text-align: center;
}
.bg-color h1 {
    color: aliceblue;
    font-size: 6em;
}
.content {
    font-size: 2em;
    color: #fff;
}
.author {
    color: #fff;
    font-size: 1.6em;
}
.footer {
    color: #fff;
    text-align: left;
    padding-left: 50px;
    position: fixed;
    bottom:0;
}
